* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------------ FONTS ----------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url("https://use.typekit.net/mrm0nmk.css");
/* ------------ END FONT ------------ */

/* ------------ BODY ----------- */
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/* ------------- END BODY ------------- */

/* ------------ HEADER ------------*/
.header--index {
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-color: #E6F1F7;
    padding: 4rem 0 12.5rem;
}

.header__logo img {
    width: 33.3333%;
}

.header__h1, 
.header__h2 {
    font-size: 3rem;
    color: #fff;
}

.black {
    color: #000;
}
/* ------------ END HEADER ------------*/

/* ------------- HEADERS PAGES ------------ */
.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-color: #E6F1F7;
    padding: 4rem 0 13.5rem;
}

.biografia {
    background-image: url(../images/banner-biografia.png);
}

.contacto {
    background-image: url(../images/banner-contacto.png);
}

.servicios {
    background-image: url(../images/banner-servicios.png);
}

.portfolio {
    background-image: url(../images/banner-portfolio.png);
}
/* ------------- END HEADERS PAGES ------------ */

/* -------------- NAV -------------- */
.navbar-nav {
    padding: 2rem 0 5.5rem;
}

.nav-item {
    font-weight: 300;
    font-size: 1.5rem;
    padding: 0 2rem 0.7rem;
}

.nav-link {
    color: #fff;
    padding-bottom: 0.7rem;
    border-bottom: rgba(255, 255, 255, 0) solid 2px;
    filter: drop-shadow(0px 0px 7px black);
}

.nav-link:hover {
    color: #fff;
    padding-bottom: 0.7rem;
    animation-name: navbar;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes navbar {
    from {border-color: rgba(255, 255, 255, 0);}
    to {border-color: rgba(255, 255, 255, 1);}
}

.navbar-nav .nav-link.active {
    color: #fff;
    border-bottom: rgba(255, 255, 255, 1) solid 2px;
    animation-name: navbar;
}

.nav-link:visited {
    color: #fff;
}
/* -------------- END NAV -------------- */

/* ----------- MAIN ----------- */
.main {
    background-color: #E6F1F7;
}
/* ----------- END MAIN ----------- */

/* ---------- SECTION AND ARTICLES----------- */
.row.main__section,
.row.main--pages {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 7%;
}

.main__section .card {
    background-color: #E6F1F7;
    border: none;
    opacity: 0;
    animation-name: card-index;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.main--pages .card {
    background-color: #E6F1F7;
    border: none;
    opacity: 0;
    animation-name: card-article;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.main__section--img {
    width: 85%;
}

.main__article--img {
    width: 50%;
}

.main__section--h2 {
    font-family: 'rosarian', sans-serif;
    font-weight: 700;
    color: #012E62;
    font-size: 3rem;
}

.main__section--p {
    height: 40%;
}

.main__article--h3, 
.main__section--h3 {
    font-size: 1.25rem;
    margin: 4rem 0 1.5rem;
}

.main__section--pages {
    opacity: 0;
    animation-name: section-blur;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#card__main--first,
#card__article {
    animation-delay: 1s;
}

#card__main--second {
    animation-delay: 1.5s;
}

#card__main--third {
    animation-delay: 2s;
}

@keyframes card-index {
    from {transform: translate(0px,200px); opacity: 0;}
    to {transform: translate(0px,0px); opacity: 1;}
}

@keyframes card-article {
    from {transform: translate(-200px,0px); opacity: 0;}
    to {transform: translate(0px,0px); opacity: 1;}
}

@keyframes section-blur {
    from {filter: blur(200px); opacity: 0;}
    to {filter: blur(0px); opacity: 1;}
}

/* ----------- END SECTION ----------- */

/* ----------- BUTTONS ----------- */
.btn-primary {
    color: #fff;
    background-color: #00BA92;
    border-color: #00BA92;
}

.btn-primary:hover {
    border-color: #00BA92;
    animation-name: btn-primary;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes btn-primary {
    from {background-color: #00BA92; color: #fff;}
    to {background-color: #fff; color: #00BA92;}
}
/* ----------- END BUTTONS ----------- */

/* --------------- FOOTER ---------------- */
.footer {
    background-color: #012E62;
    color: #fff;
    padding: 2% 0;
    z-index: 2;
}

.bi.bi-envelope,
.bi.bi-linkedin {
    color: #fff;
    font-size: 1.5rem;
}
/* --------------- END FOOTER ---------------- */


/* ------------ RESPONSIVE ------------- */
@media screen and (max-width: 991px) {
    .main__section--img,
    .main__article--img {
        width: 70%;
    }

    .main__section--pages {
        padding-left: 5%;
    }
}

@media screen and (max-width: 767px) {
    .header__logo img {
        width: 70%;
    }

    .navbar {
        --bs-navbar-toggler-focus-width: 0;
        padding-right: 10%;
    }

    #navbarNav {
        margin-right: 5%;
        margin-left: 45%;
    }
    
    .navbar-toggler {
        font-size: 40px;
        color: rgb(255, 255, 255);
        border-color: rgba(0, 0, 0, 0);
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        border-color:rgba(0, 0, 0, 0); ;
    }

    .navbar-nav {
        padding-bottom: 0;
    }

    .nav-item {
        padding: 0 0 2rem 2rem;
        text-align: right;
    }

    .header {
        padding-bottom: 10rem;
      }

    .header__h1 {
        margin-top: 10%;
    }

    .row.main__section,
    .row.main--pages {
        padding-bottom: 20%;
    }

    .row.main__section div.card:last-child {
        margin-top: 10%;
    }
}

@media screen and (max-width: 575px) {
    .header__logo {
        width: 60%;
    }

    .header__nav {
        width: 40%;
    }

    .header__logo img {
        width: 90%;
    }

    .main__section--img,
    .main__article--img {
        width: 60%;
    }

    .main__section .card,
    .main--pages .card {
        margin: 10% auto;
    }

    .row.main__section div.card:first-child {
        margin-top: 0;
    }

    .main__article--pages,
    .main__section--pages {
        width: 90%;
    }

    .footer {
        padding: 5% 0;
    }

    .footer__p {
        text-align: center;
        padding-bottom: 5%;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .header--index {
        background-position: 15% bottom;
      }

    .header__logo {
        padding-top: 2%;
    }

    #navbarNav {
        margin-right: 13%;
    }
    
    .nav-item {
        padding-right: 0;
        padding-left: 0;
    }

    .header__h1, 
    .header__h2 {
        font-size: 2.3rem;
        line-height: 3rem;
    }

    .footer p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        width: 100%;
    }

    .header__nav {
        width: 100%;
    }

    #navbarNav {
        margin-right: 5%;
        margin-left: 60%;
    }

    .navbar {
        padding-right: 0;
    }

    .row.main__section {
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 30%;
    }

    .main__section--p {
        height: 45%;
    }

    .footer {
        padding: 10% 5%;
      }
}
/* ------------ END RESPONSIVE ------------- */


  


/* --------------- MAIN ---------------- 

 --------------- SECTION AND ARTICLES---------------- 

.main__section--pages {
    width: 70%;
    text-align: left;
}

.main__section--portfolio {
    width: 80%;
}

.main__section--galeria {
    margin-top: 2rem;
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    align-items:flex-start;
}

.main__section--galeria img {
    width: 30%;
}

.main__article--portfolio {
    width: 20%;
}

.main__article--h3.servicios {
    margin-top: 2rem;
}

.main__article--ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content:center;
    color: #00BA92;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
}

.main__article--ul li {
    border: 1px solid #00BA92;
    margin: 0.25rem 0;
    padding: 0.6rem 1rem;
}
 --------------- END SECTION AND ARTICLE ---------------- */

/* --------------- END MAIN ---------------- */



/* --------------- FORM ---------------- 
fieldset {
    border: 0;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
}

.input, .textarea {
    display: block;
    margin-bottom: 1rem;
    width: 70%;
    border: 1px solid #012E62;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    background-color: #fff;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    color: #303030;
}

.input {
    height: 2.5rem;
}

.textarea {
    height: 7.2rem;
    resize: none;
}

.form__button--enviar, .form__button--cancelar {
    display: inline-block;
    width: 25%;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
    border-radius: 2rem;
}

.form__button--enviar {
    color: #fff;
    background-color: #00BA92;
    border: 0;
}

.form__button--enviar:hover {
    color: #00BA92;
    background-color: #fff;
}

.form__button--cancelar {
    color: #00BA92;
    background-color: #E6F1F7;
    border: 1px solid #00BA92;
}

.form__button--cancelar:hover {
    color: #fff;
    background-color: #00BA92;
}

 --------------- END FORM ---------------- */



