/* ------------ FONTS ----------- */
@import url("https://use.typekit.net/mrm0nmk.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$font-family-primary:'Roboto', Arial, Helvetica, sans-serif;
$font-family-secondary: 'rosarian', sans-serif;
/* ------------ END FONT ------------ */

$color-text: #000;
$color-titles: #012E62;
$color-primary: #00BA92;
$color-secondary: #012E62;
$background-color-primary: #E6F1F7;
$background-color-secondary: #012E62;