/* --------------- FOOTER ---------------- */
.footer {
    background-color: #012E62;
    color: #fff;
    padding: 2% 0;
    z-index: 2;
  }
  
  .bi.bi-envelope,
  .bi.bi-linkedin {
    color: #fff;
    font-size: 1.5rem;
  }
  
  /* --------------- END FOOTER ---------------- */