/* --------------- FOOTER ---------------- */
.footer {
  background-color: $background-color-secondary;
  color: $color-light;
  padding: 2% 0;
  z-index: 2;

  .bi.bi {
    &-envelope, &-linkedin {
      color: $color-light;
      font-size: 1.5rem;
    }
  }
}
  
  
  
  /* --------------- END FOOTER ---------------- */