/* ------------ HEADER ------------*/
.header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-color: $background-color-primary;
  padding: 4rem 0 13.5rem;

  &.index {
    @extend .header;
    padding: 4rem 0 12.5rem;
  }
  &__logo {
    img {
      width: 33.3333%;
    }
  }
  &__h1, &__h2 {
    font-size: 3rem;
    color: $color-light;
  }
}

.black {
  color: $color-dark;
}
/* ------------ END HEADER ------------*/

/* -------------- NAV -------------- */
.navbar-nav {
  padding: 2rem 0 5.5rem;

  .nav {
    &-item {
      font-weight: 300;
      font-size: 1.5rem;
      padding: 0 2rem 0.7rem;
    }

    &-link {
      color: $color-light;
      filter: drop-shadow(0px 0px 7px black);
      &::after {
        content: "";
        display: block;
        width: 100%;
        padding-bottom: 1rem;
        border-bottom: rgba(255, 255, 255, 0) solid 2px;
      }
      &:hover:not(.active)::after {
        @include animation (navbar, 2s, 1, forwards, 0);
      }
      &:hover, &:visited, &.active  {
        color: $color-light;
      }
      &.active::after {
        border-bottom: rgba(255, 255, 255, 1) solid 2px;
      }
    }

  }
}
  
@keyframes navbar {
  from {
    border-color: rgba(255, 255, 255, 0);
  }
  
  to {
    border-color: rgba(255, 255, 255, 1);
  }
}
  
  /* -------------- END NAV -------------- */