/* ----------- MAIN ----------- */
.main {
    background-color: $background-color-primary;
}

  /* ---------- SECTION AND ARTICLES----------- */

.row {
  margin-left: 0;
  margin-right: 0;
  &.main {
    &__section, &--pages {
      margin-left: 5%;
      margin-right: 5%;
      padding-top: 5%;
      padding-bottom: 7%;
    }
  }
}

.main {
  &__section {
    &--h2 {
      font-family: $font-family-secondary;
      font-weight: 700;
      color: $color-titles;
      font-size: 3rem;
      line-height: 2rem;
    }
    &--h3 {
      font-size: 1.25rem;
    }
    &--p {
      height: 40%;
    }
    &--pages {
      opacity: 0;
      @include animation (section-blur, 1s, 1, forwards, 1s);
    }
    &--galeria img {
      width: 30%;
    }
  }
  &__article {
    &--h3 {
      @extend .main__section--h3;
      margin: 4rem 0 1.5rem;
    }
  }
}
  
@keyframes section-blur {
  from {
    filter: blur(200px);
    opacity: 0;
  }
  
  to {
    filter: blur(0px);
    opacity: 1;
  }
}

/* ---------- END SECTION AND ARTICLES----------- */

/* ---------- END MAIN----------- */