/* ----------- BUTTONS ----------- */
.btn-primary {
  @include colors ($color-light, $color-primary, $color-primary);
  &:hover {
    border-color: $color-primary;
    @include animation (btn-primary, 1s, 1, forwards, 0);
  }
}
  
.btn-outline-primary {
  @include colors ($color-primary, $color-primary, transparent);
  &:hover {
    border-color: $color-primary;
    @include animation (btn-outline-primary, 1s, 1, forwards, 0);
  }
}
  
@keyframes btn-primary {
  from {
    background-color: $color-primary;
    color: $color-light;
  }
  
  to {
    background-color: $color-light;
    color: $color-primary;
  }
}
  
@keyframes btn-outline-primary {
  from {
    background-color: transparent;
    color: $color-primary
  }
  
  to {
    background-color: $color-primary;
    color: $color-light;
  }
}

/* ----------- END BUTTONS ----------- */