/* ----------- BUTTONS ----------- */
.btn-primary {
    color: #fff;
    background-color: $color-primary;
    border-color: $color-primary;
  }
  
  .btn-outline-primary {
    color: $color-primary;
    background-color: transparent;
    border-color: $color-primary;
  }
  
  .btn-primary:hover {
    border-color: $color-primary;
    animation-name: btn-primary;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  .btn-outline-primary:hover {
    border-color: $color-primary;
    animation-name: btn-outline-primary;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  @keyframes btn-primary {
    from {
      background-color: $color-primary;
      color: #fff;
    }
  
    to {
      background-color: #fff;
      color: $color-primary;
    }
  }
  
  @keyframes btn-outline-primary {
    from {
      background-color: transparent;
      color: $color-primary
    }
  
    to {
      background-color: $color-primary;
      color: #fff;
    }
  }
  
  /* ----------- END BUTTONS ----------- */