/* ----------- CARD ---------- */
.main {
  &__section {
    .card {
      background-color: $background-color-primary;
      border: none;
      opacity: 0;
      @include animation (card-index, 1s, 1, forwards, $animation-delay)
    }
    &--img {
      width: 85%;
    }
  }
  &--pages {
    .main__article--pages:not(#main__article) {
      background-color: $background-color-primary;
      border: none;
      opacity: 0;
      @include animation (card-article, 1s, 1, forwards, 0);
    }
  }
  &__article--img {
    width: 50%;
  }
}
  
#card {
  &__main {
    &--second {
      animation-delay: $animation-delay+ 0.5s;
    }
    &--third {
      animation-delay: $animation-delay+1s;
    }
  }
  &__article {
    animation-delay: $animation-delay;
  }
}

@keyframes card-index {
  from {
    transform: translate(0px, 200px);
    opacity: 0;
  }

  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes card-article {
  from {
    transform: translate(-200px, 0px);
    opacity: 0;
  }

  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

/* ----------- END CARD ---------- */