/* --------------- FORM ---------------- */
fieldset {
    border: 0;
  }
  
  .form-control::placeholder {
    font-size: 0.75rem;
  }
  
  .form-control {
    padding: 0.5rem 1rem;
    font-weight: 300;
    color: #303030;
    border: 1px solid #012E62;
    border-radius: 1rem;
  }
  
  textarea {
    resize: none;
  }
  
  .form__button {
    width: 35%;
  }
  
  /* --------------- END FORM ---------------- */