/* ----------- MODAL ---------- */
.modal{
  &-content {
    background-color: $background-color-primary;
    border-radius: 1rem;
    overflow: hidden;
    border-color: $background-color-primary;
  }
  &-body {
    padding: 0;
  }
  &__img {
    width: 100%;
  }
  &-title {
    font-size: 2rem;
    color: $color-titles;
    font-family: $font-family-secondary;
  }
}
  
/* ----------- END MODAL ---------- */
  