/* ----------- MODAL ---------- */
.modal-body {
    padding: 0;
  }
  
  .modal-content {
    color: #012E62;
    background-color: #E6F1F7;
    border-radius: 1rem;
    overflow: hidden;
    border-color: #E6F1F7;
  }
  
  .modal__img {
    width: 100%;
  }
  
  .modal-title {
    font-size: 2rem;
    font-family: 'rosarian', sans-serif;
  }
  
  /* ----------- END MODAL ---------- */
  