/* ---------- GALERIA ----------- */

#main__article {
  opacity: 0;
  @include animation (list-article, 1s, 1, forwards, $animation-delay)
}
  
.main__article--ul {
  font-size: 0.75rem;    
  border-radius: 0;
  li {
    @include colors ($color-primary, $color-primary, transparent);
    border: 1px solid;
    margin: 0.5rem 0;
    padding: 0.85rem 1rem;
  }
}
  
.list-group-item+.list-group-item {
  border-top-width: 1px;
}
  
@keyframes list-article {
  from {
    transform: translate(200px, 0px);
    opacity: 0;
  }
  
  to {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

/* ---------- END GALERIA ----------- */